<div class="col-md-6 offset-md-3">
    <br>
    
    <h3>Create Course</h3>
    
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label>Course Id:</label>
    <input type="text" class="form-control" id="courseName"
     [(ngModel)]="course.dtocid" name="courseName">
    </div>
    <div class="form-group">
        <label>Course Name:</label>
        <input type="text" class="form-control" id="courseName"
         [(ngModel)]="course.dtocname" name="courseName">
    </div>
    
    
  
    <br>
    <button class="btn btn-success" type="submit">submit</button>
    
    </form>
    
    </div>
    