<div class="col-md-6 offset-md-3">
    <br>
    
    <h3>Update Course</h3>
    
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label>Course ID:</label>
    <input type="text" class="form-control" id="dtocid"
     [(ngModel)]="courses.dtocid" name="dtocname">
    </div>
    
    <div class="form-group">
        <label>Course Name:</label>
        <input type="text" class="form-control" id="cname"
         [(ngModel)]="courses.dtocname" name="cname">
        </div>
    
    
        
    <br>
    <button class="btn btn-success" type="submit">submit</button>
    <br><br>
    </form>
    
    </div>
    
